<div id="contact">
	<div class="row">
		<div class="large-12 columns">
			<%= form_for(@contact_form, url: contact_path) do |f| %>
				<%= f.label :email %>
				<%= f.text_field :email %>
				<%= f.label :subject %>
				<%= f.text_field :subject %>
				<%= f.label :message %>
				<%= f.text_area :message %>
				<%= f.submit "Send", class: "button" %>
			<% end %>
		</div>
	</div>
</div>