<div class="large-4 medium-4 small-12 columns">
	<h3><%= project.name %></h3>
	<div>
		<%= image_tag project.screenshots.first.filename, 
													alt: project.screenshots.first.filename,
													class: "work-pic" %>
	</div>
	<div class="site-links"><%= link_to "view site", project.url %>
		<%= link_to "github", project.github %></div>
	<p><%= project.description %></p>
</div>
