<div id="intro">
	<div class="row">
		<div class="large-7 medium-7 columns">
			<div id="free-container">
				<div id="i-am">
					<span id="i-am-a">I am a</span><br>
					<span class="dev">WEB DEVELOPER</span>
				</div>
				<div id="i-do">
					<span>and I make web apps like these</span>
					<span id="arrow">&#8594</span>
				</div>
				<div id="with">
					WITH
				</div>
				<div id="skills">
					<span>Ruby on Rails</span>
				</div>
			</div>
		</div>
		<div class="large-5 medium-5 columns">
			<div id="projects-cont" class="projects">
				<%= image_tag @projects.first.screenshots.first.filename, class: 'twit-pic' %>
			</div>
		</div>
	</div>
	<div id="down-arrow">&#8681</div>
	<%= render 'layouts/nav' %>
</div>
<%= render 'work' %>
<%= render 'about' %>
<%= render 'contact' %>