<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </script>

    <link rel="import" href="components/font-roboto/roboto.html">
    <link rel="import" href="components/core-header-panel/core-header-panel.html">
    <link rel="import" href="components/core-toolbar/core-toolbar.html">
    <link rel="import" href="components/paper-tabs/paper-tabs.html">

    <title><%= content_for?(:title) ? yield(:title) : "John Howlett" %></title>

    <%= stylesheet_link_tag    "application","http://fonts.googleapis.com/css?family=Open+Sans:400,300", 'http://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700','http://fonts.googleapis.com/css?family=Montserrat:400,700', 'http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
  <%= render :partial => 'layouts/ga' %>
</html>
